* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(46, 46, 46);
    color: rgb(232, 238, 243);
    font-size: 16px;
    font-family: "Poppins";
    overflow-x: hidden;
}

.headline {
    max-width: 100vw;
    overflow-x: hidden;
}

#daytime {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 64px;
    right:30px
}
#cloud1,#cloud2 {
    animation: wave 8s linear  infinite ;
}


/*  */
.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.card {
    list-style: none;
    background-color: rgb(46, 46, 46);
    border: none;
    width:300px;
    height: 380px;
    margin: 16px;
    box-shadow: 4px 4px 16px 4px rgb(37, 37, 37);
    border-radius: 16px;
}
.card a {
    color: white;
    text-decoration: none;
}
.card a:active {
    color: rgb(172, 170, 170);
}
.card img {
    height: 180px;
}
.card-title {
    height: 24px;
    overflow: hidden;
}
.card-body {
    height: 200px;
    overflow: hidden;
}
.card-text {
    max-height: 72px;
    overflow: hidden;
}
.card-time {
    color: #acaaaa;
    padding-top: 16px;
}
.share-btn {
    position: relative;
    top: -117px;
    left: 231px;
}
.tab {
    height: 100vh;
    display: none;
}

/* Navbar  */
.bottom-nav {
    height: 60px;
    background-color: #252525;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: -3px;
}
.nav-item {
    width: 33.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-item span {
    margin-top: 20px;
    margin: auto;
}

.about {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
















@keyframes wave {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-140px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0px);
    }
}