.search-wrap {
    margin-top: 0.75rem;
}
#search {
    background-color: rgb(63, 63, 63);
    color: white;
    height: 40px;
    font-size: 20px;
    border-radius: 26px;
    border: #777777;
    margin-left: 6px;
}
#search:focus {
    outline:none;
    box-shadow: 4px 4px 8px rgb(34, 34, 34);
}
#search-icon img {
    position: relative;
    top: 4px;
}
.source-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.source-item {
    height: 100px;
    width: 100px;
    list-style: none;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px rgb(34, 34, 34);
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.source-item a {
    color: black;
}
.source-item a:hover, .source-item a:active {
    text-decoration: none;
    color: rgb(37, 34, 34);
}
.source-item .name {
    font-size: 16px;
    font-weight: 700;
    padding-top: 0px;
    margin-bottom: 0;
    height: 70px;
    word-wrap: break-word;
}
.source-item .class {
    font-size: 12px;
    margin-bottom: 0;
    position: relative;
    top: 0px;
}
.search-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}